<% provide(:title, @user.name)%>
<div class= "jumbotron jumbotron-fluid">
  <div>
    <%= @user.name %>
  </div>
  <div>
    <%= @user.email%>
  </div>
  <div>
    <%= link_to "Edit", edit_user_path%>
  </div>
</div>