<% provide(:title, "Log In")%>
<% provide(:header_text, "Log In")%>

<div class = form-custom>
  <%= form_with(url: login_path, scope: :session, local: true) do |f|%>
    <div class = 'form-div'>
      <%= f.text_field :email, placeholder: "Email..."%>
    </div>

    <div class = 'form-div'>
      <%= f.password_field :password, placeholder: "Password..."%>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary"%>
  <% end%>
</div>