<h1>Account Activation</h1>

<p>Hello <%= @user.name%>, </p>

<p>
  Welcome to StoreIt Click the link below to activate your accont:
</p>
<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email)%>