<% provide(:title, @item.name)%>
<div class= "jumbotron jumbotron-fluid">
  <%= @item.name %>
</div>

<div class= "jumbotron jumbotron-fluid">
  <%=link_to "Locations", item_locations_path(@item) %>
</div>

<div class= "jumbotron jumbotron-fluid">
  <%=link_to "Access Groups", item_access_groups_path(@item) %>
</div>