<% provide(:title, "Items")%>
<h1>Items in Access Group: <%= "#{@access_group.name}"%></h1>
<%= link_to "Add an Item", new_item_path%>
<ul>
  <% unless @items.nil?%>
    <%= render @items%>
  <% end%>
<ul>