<% provide(:title, "Items")%>
<h1>Locations in Access Group: <%= "#{@access_group.name}"%></h1>
<div>
  <%= link_to "Add a Location", new_access_group_location_path%>
</div>
<ul>
  <%@locations.each do |location|%>
    <%= render layout: '/locations/locations/location', :locals => {:location => location} do %>
      |  <%= link_to "remove location from group", access_group_location_path(@access_group, location)%>
    <% end %>
  <% end %>
</ul>
