<% provide(:title, "Locations")%>
<h1>Location with Item: <%= "#{@item.name}"%></h1>
<%= link_to "Add a Location", "#"%>
<ul>
  <% @locations.each do |location|%>
      <%= render :partial => "/locations/locations/location", :collection => @locations %>
  <% end %>

</ul>