<% provide(:title, "Items")%>
<h1>Items in Location: <%= "#{@location.name}"%></h1>
<%= link_to "Add an Item", new_location_item_path%>
<ul>
   <%= render :partial => "/items/items/item", :collection => @items %>
<ul>