<% provide(:title, "Users")%>
<h1>Users in Access Group: <%= "#{@access_group.name}"%></h1>
<%= link_to "Add a User", "#"%>
<ul>
  <% unless @users.nil?%>
    <%= render :partial => "/users/users/user", :collection => @users %>
  <% end%>
<ul>