<% provide(:title, @location.name)%>
<div class= "jumbotron jumbotron-fluid">
  <%= @location.name %>
</div>

<div class= "jumbotron jumbotron-fluid">
  Parent Location ID: <%=@location.parent_id%>
</div>