<div class= 'element-card'>
  <div class = 'card-name'>
    <%= yield :card_title%>
  </div>
  <div class = 'card-image'>
    <%= yield :card_image%>
  </div>
  <div class = 'card-body'>
    <div class = 'card-description'>
      <%= yield :card_description%>
    </div>
    <div class = 'card-bottom-tray'>
      <%= yield :card_bottom_tray%>
    </div>
  </div>
</div>