<header>
  <h1>StoreIt</h1>
  <nav class = "navbar navbar-fixed-top" >
    <ul class= "nav navbar-nav navbar-right">
      <li><%= link_to "My Groups", "#"%></li>
      <li><%= link_to "My Items", "#"%></li>
      <li><%= link_to "My Locations", "#"%></li>
      <li><%= link_to "Account", "#"%></li>
    </ul>
  </nav>
</header>
